:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 50vh;
  gap: clamp(8px, 2vh, 16px);
  padding: clamp(8px, 2vw, 16px);
}

mat-card.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: clamp(96px, 10vh, 128px);
  cursor: pointer;
}


