<h2>Mes projets</h2>
<div class="project-list-container">
    @if(projects$ | async; as projects) {
    @for(project of projects; track project.id) {
    <mat-card role="button" [attr.aria-label]="'Ouvrir le projet '+ project.name" (click)="openProject(project.id)"
        class="project-card" data-cy="project-card">
        <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card>
    <mat-card role="button" [attr.aria-label]="'Ouvrir le projet '+ project.name" (click)="openProject(project.id)"
        class="project-card" data-cy="project-card">
        <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card>
    <mat-card role="button" [attr.aria-label]="'Ouvrir le projet '+ project.name" (click)="openProject(project.id)"
        class="project-card" data-cy="project-card">
        <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card>
    <mat-card role="button" [attr.aria-label]="'Ouvrir le projet '+ project.name" (click)="openProject(project.id)"
        class="project-card" data-cy="project-card">
        <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card>
    <mat-card role="button" [attr.aria-label]="'Ouvrir le projet '+ project.name" (click)="openProject(project.id)"
        class="project-card" data-cy="project-card">
        <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card>
    }
    }
</div>