<div class="column-item" #colum>
    <h2>{{title}}</h2>
    @if(items$ | async; as items) {
    <div cdkDropList [id]="columnMetaData.id" [cdkDropListConnectedTo]="columnMetaData.connectTo"
        [cdkDropListData]="items" (cdkDropListDropped)="drop($event)" class="item-container" data-cy="item-container">
        <div *ngFor="let item of items; trackBy: trackByItemId" class="item" data-cy="item" cdkDrag>
            <ng-container *ngTemplateOutlet="templateRef; context: { $implicit: item }"></ng-container>
        </div>
    </div>
    }@else {
    <span>Aucun élément à afficher</span>
    }
</div>