.header {
    display: flex;
    justify-content: center;
}

.task-card {
    margin-top: 32px;
    padding: clamp(4px, 2vw, 8px)
}

mat-list-option {
    border-bottom: 1px solid gainsboro;
}


.info-option {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
    font-size: 12px;
    color: blue;
}

.info-option span {
    white-space: nowrap; /* Empêche le texte du span de se casser*/
    overflow: hidden;
    //text-overflow: ellipsis; /* Ajoute ... si texte trop grand */
}

mat-action-list button {
    margin-right: 8px;
}

.delete-button {
    background-color: var(--background-button-delete);
}

.update-button {
    background-color: var(--background-button-update);
}

