<mat-card>
    <mat-card-header>
        <h4 mat-card-title>Tâches non terminées</h4>
    </mat-card-header>
    <mat-selection-list #tasks>
        @for (task of tasks$ | async; track task.id) {
        <mat-list-option [selected]="task.status === tasksStatus.DONE">
            <!-- <mat-checkbox [checked]="task.status === tasksStatus.DONE"></mat-checkbox> -->
            <span class="title-option">{{task.title}}</span>
            <br>
            <div class="info-option">
                <span class="date-option">{{task.dueDate | date:'d/M/yy, hh:mm'}}</span>
                <span class="priority-option">Priorité : {{task.priority}}</span>
                <span class="priority-option">Statut : {{task.status}}</span>
            </div>
        </mat-list-option>
        }
    </mat-selection-list>

    <p>
        Options selected: {{tasks.selectedOptions.selected.length}}
    </p>

    <mat-action-list>
        <button mat-list-item (click)="delete(tasks)" color="tertiary"><mat-icon>delete</mat-icon></button>
    </mat-action-list>
</mat-card>