

.div-container {
  border-radius: 12px;
  border: 1px solid var(--border-color-div);
  background-color: var(--primary-color);
}

.separator {
  border-bottom: 1px solid var(--border-color-div);
  margin: 12px 0;
}

