@use '@angular/material' as mat;
@use './m3-theme.scss' as theme;

:root.dark-theme {
    @include mat.all-component-themes(theme.$dark-theme);
    --background-main: #{mat.get-theme-color(theme.$dark-theme, primary, 20)};
    --background-app-bar: #{mat.get-theme-color(theme.$dark-theme, primary, 20)};
    --background-footer: #{mat.get-theme-color(theme.$dark-theme, primary, 20)};
    --background-button: #{mat.get-theme-color(theme.$dark-theme, primary, 20)};
    --foreground-primary-text: #{mat.get-theme-color(theme.$dark-theme, primary, 90)};
    --foreground-secondary-text: #{mat.get-theme-color(theme.$dark-theme, tertiary, 80)};
    --border-color: #{mat.get-theme-color(theme.$dark-theme, primary, 25)};
    --box-shadow-color: #{mat.get-theme-color(theme.$dark-theme, primary, 20)};
    --background-board-column: #{mat.get-theme-color(theme.$dark-theme, primary, 95)};
  }