/* You can add global styles to this file, and also import other style files */
//@use './theme.scss';
//@use './custom-mat-theme.scss';
@use '@angular/material' as mat;
@use './themes/m3-theme.scss';
@use './themes/light-theme.scss';
@use './themes/dark-theme.scss';
@use './messages';
@use './variables';
@use './components';
@use './typographies';
@use './layout';

@include mat.core();

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background-main);
  color: var(--mdc-theme-text-color);
}

