/* You can add global styles to this file, and also import other style files */
//@use './theme.scss';
//@use './custom-mat-theme.scss';
@use '@angular/material' as mat;
@use './m3-theme.scss';
@use './messages.scss';
@use './variables.scss';
@use './components.scss';
@use './light-theme.scss';


@include mat.core();


body { 
    margin: 0; 
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-main);
    
}


/* Typographie */

.mat-display-large, .mat-typography .mat-display-large, .mat-typography h1 {
  font-size: clamp(28px, 4vw, 48px) !important;
  line-height: 1.2 !important;
}

.mat-display-medium, .mat-typography .mat-display-medium, .mat-typography h2 {
  font-size: clamp(24px, 4vw, 36px) !important;
  line-height: 1.3 !important;
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography h3 {
  font-size: clamp(16px, 2vw, 24px) !important;
  line-height: 1.4 !important;
}

.mat-display-small, .mat-typography .mat-display-small, .mat-typography h4 {
  font-size: clamp(14px, 2vw, 18px) !important;
  line-height: 1.5 !important;
}


.mat-typography {
  font-size: clamp(12px, 2vw, 16px) !important; /* Ajuste le corps de texte */
}



/* Composant material angular */






