:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.quick-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(8px, 2vw, 16px);
  gap: 8px;
}

@media (max-width: 600px) {
  .quick-actions-container {
    flex-direction: column;
    align-items: center;
  }
}

button.add-project-button {
  //background-color: var(--background-button-add);
}
