// :host {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;    
// }

.task-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 768px) {
    .task-board {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
    
}

@media (max-width: 480px) {
    .task-board {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
    
}

// .task-mangagement-container {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
// }

.column-status {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 10px;
    overflow: auto;
    background-color: var(--background-board-column);
}

.action {
    display: flex;
    padding: 16px;
}

.action button {
    margin-right: 8px;
}

.add-task-button {
    background-color: var(--background-button-add) !important;
}

.save-button-enabled {
    background-color: var(--background-button-save) !important;
    color: var(--background-main) !important;
    transition: background-color 2s !important; 
}