<header class="header">
  <mat-toolbar class="toolbar-container">
    @if (isLoggedIn && !isDesktop()) {
      <button
        mat-icon-button
        class="menu-toolbar-button"
        aria-label="icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <span
      class="toolbar-title"
      tabindex="0"
      role="button"
      (click)="goToHome()"
      (keydown.enter)="goToHome()"
      aria-label="Aller à l'accueil">
      {{ 'APP.TITLE' | translate }}
    </span>

    @if (isLoggedIn) {
      <button mat-button [matMenuTriggerFor]="menu" class="profile-toolbar-button">
        {{ 'APP.PROFILE' | translate }}
      </button>

      <mat-menu #menu="matMenu" class="custom-mat-menu">
        <button mat-menu-item aria-label="logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{ 'APP.LOGOUT' | translate }}</span>
        </button>
        <mat-slide-toggle [checked]="isDarkMode()" (change)="enableDarkMode($event)"
          ><span class="theme-toggle-text">Thème sombre</span></mat-slide-toggle
        >
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>{{ 'APP.SETTINGS' | translate }}</span>
        </button>
      </mat-menu>
    }
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [mode]="!isDesktop() ? 'over' : 'side'"
    [opened]="isLoggedIn && isDesktop()"
    class="sidenav">
    @if (isLoggedIn) {
      <nav aria-label="Menu principal" class="sidenav-menu">
        <app-sidebar-menu />
      </nav>
    }
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
      <p>{{ 'APP.FOOTER.COPYRIGHT' | translate }}</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
