<div class="app-container">
    <header>
        <mat-toolbar>
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button> -->

            <span class="title" (click)="goToHome()">{{'APP.TITLE' | translate }}</span>

            @if(isLoggedIn) {
            <button mat-icon-button class="notification-icon" aria-label="Notification icon button">
                <mat-icon>notifications</mat-icon>
            </button>

            <!-- Profil button with menu trigger -->
            <button mat-button [matMenuTriggerFor]="menu">{{'APP.PROFILE' | translate }}</button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item aria-label="logout" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>{{'APP.LOGOUT' | translate }}</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>{{'APP.SETTINGS' | translate }}</span>
                </button>
            </mat-menu>
            }
        </mat-toolbar>
    </header>

    <main class="main-container">
        <router-outlet></router-outlet>
    </main>

    <footer>
        <p>{{'APP.FOOTER.COPYRIGHT' | translate }}</p>
    </footer>
</div>