:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.kanban-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-height: 80%;
  overflow-y: auto;
}

.action-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.action-container button {
  margin-right: 8px;
}

.add-task-button {
  //background-color: var(--background-button-add);
}

.settings-button {
  //background-color: var(--tertiary-color);
}
.settings-button mat-icon {
 // color: var(--primary-color);
}

.save-button-enabled {
  transition: background-color 2s;
}
