@use '@angular/material' as mat;
@use '../../styles/m3-theme.scss';
@use '../../styles/variables.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;    
}


.task-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .task-board {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
    
}

@media (max-width: 480px) {
    .task-board {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
    
}

.task-container {
    display: flex;
    flex-direction: column;
}

.column-status {
    border: 1px solid var(--border-color);
    padding: 10px;
    overflow: auto;
}