<div class="task-container">
        <h1>Gestion des tâches</h1>
        <div class="action">
                <button mat-mini-fab (click)="addNewTask()" class="add-task-button"><mat-icon>add</mat-icon></button>
                <button mat-mini-fab (click)="saveChanges()"
                        [ngClass]="{'save-button-enabled': modifiedTasks.length > 0}"
                        [disabled]="modifiedTasks.length === 0"><mat-icon>save</mat-icon></button>
        </div>
        <div class="task-board">
                <div class="column-status">
                        <app-task-list-card [tasks$]="pendingTasks$" [title]="pendingTasksTitleCard"
                                [tasksColumnId]="tasksColumnId.PENDING"
                                [connectTo]="[tasksColumnId.IN_PROGRESS, tasksColumnId.DONE]" (dropEvent)="drop($event)"
                                (deleteTaskEvent)="deleteTask($event)" (updateTaskEvent)="updateTask($event)">
                        </app-task-list-card>
                </div>
                <div class="column-status">
                        <app-task-list-card [tasks$]="inProgressTasks$" [title]="inProgessTasksTitleCard"
                                [tasksColumnId]="tasksColumnId.IN_PROGRESS"
                                [connectTo]="[tasksColumnId.PENDING, tasksColumnId.DONE]" (dropEvent)="drop($event)"
                                (deleteTaskEvent)="deleteTask($event)" (updateTaskEvent)="updateTask($event)">
                        </app-task-list-card>
                </div>
                <div class="column-status">
                        <app-task-list-card [tasks$]="finishedTasks$" [title]="finishedTasksTitleCard"
                                [tasksColumnId]="tasksColumnId.DONE"
                                [connectTo]="[tasksColumnId.PENDING, tasksColumnId.IN_PROGRESS]"
                                (dropEvent)="drop($event)" (deleteTaskEvent)="deleteTask($event)"
                                (updateTaskEvent)="updateTask($event)">
                        </app-task-list-card>
                </div>
        </div>
</div>